.card {
  border-radius: 15px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  padding: 25px;
  height: 280px;
  transition: all .5s ease-in-out;
  width: 15%;
  margin: 2vh;
  background-color: rgba(155, 155, 155, 0.153);
  backdrop-filter: blur(3px);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.card_text {
  color: #ffffff;
  text-align: center;
}

.card_text h1 {
  color: #ffffff;
  font-size: 1.5rem;
  margin-bottom: 1vh;
  text-align: center;
}

.card_text h2 {
  font-size: 1.3rem;
}

.card_text h4 span {
  font-size: 1.5rem;
}

.card:hover {
  backdrop-filter: blur(10px);
  transform: scale(1.1);
  background-color: rgb(255, 255, 255);
}

.card:hover .card_text {
  color: #000000 !important;
}

.card:hover .card_text h1 {
  color: #000000 !important;
}

.card_image {
  margin: auto;
  width: 65%;
}

.card_image img {
  justify-content: center;
  object-fit: cover;
  margin: auto;
  width: 100%;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 1) !important;
}


.button1 {
  padding: 10px 20px;
  border: unset;
  border-radius: 15px;
  color: #212121;
  z-index: 1;
  background: #e8e8e8;
  position: relative;
  font-weight: 1000;
  font-size: 17px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
  overflow: hidden;
}

.button1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #212121;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms
}

.button1:hover {
  color: #e8e8e8;
}

.button1:hover::before {
  width: 100%;
}

@media screen and (min-width:700px) {
  .card {
    border-radius: 15px;
    box-shadow: rgba(50, 50, 93, 0.199) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(11, 51, 90, 0.699) 0px -2px 6px 0px inset;
    transition: all .5s ease-in-out;
    width: 70%;
    margin: 2vh;
    background-color: rgba(155, 155, 155, 0.322);
    backdrop-filter: blur(3px);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .card_text {
    color: #ffffff;
    font-size: 1rem;
    text-align: center;
  }

  .card_text h2 {
    font-size: 1.3rem;
  }

  .card_text h4 span {
    font-size: 1.5rem;
  }

}